{% extends 'base.html' %}

{% block title %}
    Rate List
{% endblock title %}

{% block content %}


    <div class="row">
        <div class="col-12">
            <a class="button button-primary" href="{% url 'currency:rate-create' %}">Create</a><br>
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Filter</button>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Source</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for rate in rate_list %}
                    <tr>
                        <th scope="row">{{ rate.id }}</th>
                        <td>{{ rate.buy }}</td>
                        <td>{{ rate.sell }}</td>
                        <td>{{ rate.get_currency_display }}</td>
                        <td>{{ rate.source }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"
                                       href="{% url 'currency:rate-details' rate.id %}">Details</a>
                                    <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>

{% endblock content %}
